.active{
  color: black;
  font-style: oblique;
  font-size: 1.02em;
  font-weight: 600;
}
select:invalid:required, input:invalid {
  border-bottom : 1px solid red;
}

select:invalid:required, input:invalid:required {
  background-image: linear-gradient(to right, rgba(255, 192, 203,.2), rgba(144, 238, 144,.2));
}

input:valid {
  border-bottom : 1px solid black;
  background-image: linear-gradient(to right, rgba(108, 219, 108, 0.2), rgba(0, 128, 0, .2));

}
select:valid {
  border-bottom : 1px solid black;

  background-image: linear-gradient(to right, rgba(108, 219, 108, 0.2), rgba(0, 128, 0, .2));

}
input:focus textarea input:active{
  outline: none !important;
}
.valami{
display: none !important;
}
.nemvalami{
display: inherit;
}
small{
font-style: oblique;
color: red;
}
.back{
border-radius: 100%;
padding: 12px 17px;
}

