<ul class="nav">
  <li class="nav-item">
    <a class="nav-link active" routerLinkActive="active"
    [routerLinkActiveOptions]="{exact: true}"
    [routerLink]="''">Home</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLinkActive="active"
    [routerLinkActiveOptions]="{exact: true}" routerLink="heroes">Heroes</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLinkActive="active"
    [routerLinkActiveOptions]="{exact: true}" routerLink="editor/0">New Hero</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLinkActive="active"
    [routerLinkActiveOptions]="{exact: true}" routerLink="event">Event</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLinkActive="active"
    [routerLinkActiveOptions]="{exact: true}" routerLink="reactiveform">Reactive Form</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLinkActive="active"
    [routerLinkActiveOptions]="{exact: true}" routerLink="herodtwo"
     tabindex="-1" aria-disabled="true">Hero Detail Two</a>
  </li>
</ul>
